# Configuración de Base de Datos
# Para Supabase usa la cadena con sslmode=require y, opcionalmente, el puerto del pool (6543)
# DATABASE_URL pool (pgbouncer)
DATABASE_URL="postgresql://postgres:Rhad19326366@db.bjkbwbetsenbrxtwtdph.supabase.co:5432/postgres"
# DIRECT_DATABASE_URL acceso directo (5432) para migraciones y seeds
DIRECT_DATABASE_URL="postgresql://empreRed:Rhad19326366@host.supabase.co:5432/postgres?sslmode=require"

# Configuración de JWT
JWT_SECRET="tu_jwt_secret_muy_seguro_aqui"

# Configuración de Cloudinary
CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"

# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de CORS
CORS_ORIGIN="http://localhost:19006"

# Configuración de notificaciones (opcional)
NOTIFICATION_SERVICE_URL=""
NOTIFICATION_API_KEY=""


